/* Google Web font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


* {
    box-sizing: border-box; 
}


:root {
    --dunkin-pink: #F20C90;
    --dunkin-pink-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), var(--dunkin-pink);
    --dunkin-pink-hover-light: rgba(242, 12, 144, 0.05);
    --dunkin-orange: #FF6D0D;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
  }

html, body {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5rem;
}

/* page structure css */

.widthlimit {

    max-width: 1312px;
    margin: 0 auto;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 2;
}

main {
    padding-top: 130px;
    min-width: 375px;
    /* iphone se */
}

main.staticcontent
{
    margin-bottom: 40px;
}

section {
    margin-top: 40px;
}

div.twocol-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.mobilemenubtn,
.mobilemenu {
    display: none;
}

.narrow
{
    
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 40px;
}





/* general css */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    line-height: normal;
}

h1 {
    font-size: 2.375rem;
    color: var(--dunkin-orange);

}

.narrow h1 
{
   text-align: center;
   margin-bottom: 20px;
}

h2 {
    font-size: 2rem;

}

h3 {
    font-size: 1.75rem;

}

h4 {
    font-size: 1.5rem;

}

h5 {
    font-size: 1.25rem;

}

h6 {
    font-size: 1.125rem;

}

.sectiontitle {
    color: var(--dunkin-orange);
}

a,
a:visited {
    color: #000;
    text-decoration: none;
}

input,
select {
    border: 1px solid #C4C4C4;
    border-radius: 60px;
    padding: 11px 20px;
    background: #fff;
    font-size: 1rem;
    color: #000;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icons/arrow-down.svg) no-repeat right 15px center;
}

select::-ms-expand {
    display: none;
    /*To remove button from IE11 */
}

::placeholder {
    color: #000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000;
}

input:focus,
select:focus {
    border-color: #8C8C8C;
    outline: none;
}


button,
button.btn,
a.btn,
input[type=submit] {
    padding: 10px 28px;
    border-radius: 60px;
    font-weight: bold;
    color: #fff;
    background-color: var(--dunkin-pink);
    font-size: 1rem;
    border: 2px solid var(--dunkin-pink);
    white-space: nowrap;
    cursor: pointer;
}


input:focus::placeholder {
    color: transparent;
}

button:hover,
button:focus,
button.btn:hover,
button.btn:focus,
a.btn:hover,
a.btn:focus {
    background: var(--dunkin-pink-hover);
}


.btn-outline,
a.btn-outline,
button.btn-outline
 {
    padding: 10px 28px;
    border-radius: 60px;
    font-weight: bold;
    color: var(--dunkin-pink);
    background-color: transparent;
    font-size: 1rem;
    border: 2px solid var(--dunkin-pink);
    white-space: nowrap;
    cursor: pointer;
}

button.btn-outline:hover,
button.btn-outline:focus,
.btn-outline:hover,
.btn-outline:focus {
    background: var(--dunkin-pink-hover-light);
}


label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* header css */
header {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 20px 0 20px 0;
}

header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div .headerleft {
    flex-shrink: 4;
    align-items: center;
}

header div .headerright {
    align-items: center;
}

header nav ul {
    gap: 40px;
}

header nav ul li a {
    font-size: 1.5rem;
}

#headersearch input {
    border-radius: 60px 0px 0px 60px;
    border-right: 0px;
}

#headersearch button {
    border-radius: 0px 60px 60px 0px;
}

/* nav css */

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    font-weight: bold;
    /*  white-space: nowrap;   breaks nav on mobile */
}



nav.productnav ul {
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    min-width: 938px;
    /*min width before nav item words goes in 2 lines*/
    box-sizing: content-box;
}

nav.productnav ul li:first-child {
    padding-left: 0;
}

nav.productnav ul li:last-child {
    padding-right: 0;
}

.desktopview {
    display: block;
}

.tabletview,
.mobileview {
    display: none;
}

.callout {
    position: absolute;
    padding: 16px 16px 20px 16px;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 100%;
    text-align: center;
}

.callout.mobilenav {
    position: absolute;
    right: 0;
    margin: -1px 40px 0px 0px;
    background: var(--dunkin-orange);
    max-width: 200px;
    color: #fff;
}

.callout.mobilenav::after /* callout.mobilenav arrow */
    {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 55%;
    border: 0.5em solid #000;
    border-color: transparent transparent var(--dunkin-orange) var(--dunkin-orange);
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, .08);
}


.callout.mobilenav img {
    height: 68px;
}

.callout.mobilenav .btn-outline {
    margin-top: 10px;
    border-color: #fff !important;
    color: #fff !important;
    background: transparent;
}

#calloutmobilenav {
    display: none;
}

/* footer nav styles is under footer css section */

/* heroimg */

.heroimg img {
    width: 100%;
}



/* product grid css */
.productsgrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.twocol-content .productlist {
    flex-grow: 3;
}

.packs .productsgrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    /*   gap: 32px; */

}

.productitem {
    text-align: center;
}

.productimg1x1 {
    position: relative;
    width: 100%;
    padding-top: 100%;
    text-align: center;
    /* this div exists for 1:1 ratio */
}

.productimg

/* 1:1 ratio */
    {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.producttext {
    padding: 0 0px 20px 0px;
}

.modal .closecontainer {
    text-align: right;
}

.modalclose {
    margin: 0px;
    padding: 0px;
    background: none;
    border: 0;
    text-align: right;
    cursor: pointer;
}

.modalclose:hover,
.modalclose:active,
.modalclose:focus {
    background: none;
}

.modal-header h2 {
    text-align: center;
    color: var(--dunkin-orange);
    font-size: 2.375rem;
}

.modal-body .productimgcontainer {
    width: 100%;
    text-align: center;

}

.modalproductimg {
    width: 80%;
}

.modal .selectionheader {
    border-bottom: 1px solid #C4C4C4;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.modal .selectioncount {
    padding: 2px 15px;
    background: var(--dunkin-orange);
    color: #fff;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: bold;
}

.flavour {
    padding: 0;
    margin: 0;
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.modal .donut-flavour li {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 0;
    margin: 0;
    gap: 10px;
}

.modal .qty-number {
    white-space: nowrap;
    display: flex;
    gap: 5px;
}

.modal .qty-number input {
    padding: 0px;
    width: 24px;
    text-align: center;
    border: 0;
}

.modal .qty-number img {
    width: 18px;
    cursor: pointer;
    vertical-align: middle;
}

.modal img.thumb {
    width: 40px;
    height: auto;
}

.modal-footer-content {
    border-top: 1px solid #C4C4C4;
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.modal-footer-content .qty-number {
    gap: 10px;
}

.modal .sidebysidebtns {
    display: flex;
    gap: 10px;
}

.modal .sidebysidebtns.fullwidth
{
    display: flex;
    gap: 10px;
    margin-top: 32px;
}

.modal .sidebysidebtns.fullwidth a
{ 
    display: block;
    width: 100%;
    text-align: center;
    line-height: initial;
}

#signuploginModal h5,
#cartModal h5
{
    color: var(--dunkin-pink);
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
}

#signuploginModal
{
    text-align: center;
}



/* order details box */
#orderdetails {
    border: 1px solid #C4C4C4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    padding: 30px;
    background: #fff;
    width: 304px;
    text-align: center;
}

#orderdetails h4 {
    color: var(--dunkin-pink);
}

#orderdetails input,
#orderdetails select,
#orderdetails button,
#orderdetails .btn,
#signuploginModal input,
#cartModal input
{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    line-height: initial;
}

#orderdetails h5,
.btn-checkout {
    margin-top: 32px;
    margin-bottom: 12px;
    line-height: initial;
}

a.underlined {
    text-decoration: underline;
    color: var(--dunkin-pink);
}

.radiotoggle {
    display: flex;
    margin-bottom: 10px;
}

.radiotoggle input[type=radio] {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 1px !important;
    display: inline;
}


.pickupdeliverybtn {
    height: auto;
    margin: 0;
    overflow: auto;
    padding: 8px 8px;
    border-radius: 60px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    border: 2px solid var(--dunkin-pink);
    color: var(--dunkin-pink);
    background-color: #fff;
    font-weight: bold;
    text-align: center;
}

.radiotoggle input[type=radio]:checked+label {
    background-color: var(--dunkin-pink);
    color: #fff;
}

.radiotoggle #pickupbtn {
    border-radius: 60px 0px 0px 60px;
    padding-left: 14px;
    padding-right: 8px;
}

.radiotoggle #deliverybtn {
    border-radius: 0px 60px 60px 0px;
}

label img {
    vertical-align: middle;
}

a.anchor
{display: block; position: relative; top: -160px; visibility: hidden; }

.cart-item,
.cart-total {
    display: flex;
    gap: 16px;
    text-align: left;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    font-weight: bold;
}

.cart-total {
    border-bottom: 0px;
}

.cart-item-desc {
    font-weight: normal;
    color: #8C8C8C;
}

.callout.itemadded {
    position: absolute;
    width: 304px;
    margin: -35px 0px 0px -354px;
    background: #fff;
}

.callout.itemadded::after /* callout.itemadded arrow */
    {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 55%;
    left: 303px;
    border: 0.5em solid #000;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(225deg);
    box-shadow: -3px 3px 4px 0 rgba(, 0, 0, .08);
}

#orderdetails .callout.itemadded h5 {
    margin: 0;
    padding: 0;
}

.callout.itemadded .closecallout {
    text-align: right;
    cursor: pointer;
}

.delete
{
    cursor: pointer;
}

#emptycart, p#emptycart-modal
{
    display: none; 
    text-align: center;
}



input[type=submit]:disabled {
    opacity: 0.5;
    cursor: default;
}

.checkout-helpertext {
    display: block;
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #000;
}

#mobile-viewcart-bar {
    display: none;
}


.ourstory
{


}

.ourstory img{
    width: 100%;
}

.ourstory p
{
    margin: 30px 0px 30px 0px;
}


/* Locations css */


.contactlocation h5
{   
    margin-bottom: 10px;
}

.contactlocation input {
    width: 100%;
    margin-bottom: 10px;
}



.branchsearch
{
    background: url(../images/icons/search.svg) no-repeat 15px;
    padding-left: 50px;
}

#storeslist
{
    display: flex;
    justify-content:space-between;
    gap: 16px;
    align-items: center;
    margin-top: 45px;
    padding-bottom: 20px;
}

#storeslist .sortbyfilter
{
    display: flex;
    gap: 16px;
}

#storeslist label {
    border: 0;
    clip:auto;
    height: auto;
    margin: 0px;
    overflow:unset;
    padding: 10px 0px 10px 0px;
    position: relative;
    width: auto;
}

#storeslist select
{
padding-right: 40px;
}

.sortbyfilter label
{
padding: 0 !important;
margin: 0 !important;
white-space: nowrap;
}

.sortbyfilter select {
    width: 100%;
}

.sortby, .filter {
    display: flex;
    gap: 10px;
    align-items: center;
}

.storebranch
{
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #c4c4c4;
    padding-bottom: 30px;
    padding-top: 20px;

}



.storestatus
{
    text-align: right;
}

.storeopen, .storeclosed
{
    font-weight: bold;
}

.storeopen::before
{
    content:url('../images/icons/storeopen.svg');
    vertical-align: -15%;
}

.storeclosed::before
{
    content:url('../images/icons/storeclosed.svg');
    vertical-align: -15%;
}

.openclosetime
{
    margin-bottom:20px;
}

.storedetails a.underlined {
    color: #000;
}


/* bottom ctas */
#bottomctas {
    margin-top: 60px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    color: #fff;
    row-gap: 10px;
}

.cta-container {
    background-color: var(--dunkin-pink);
    padding: 20px 20px 40px 20px;
    text-align: center;
}

.orange {
    background-color: var(--dunkin-orange);
}

.cta-title {
    margin: 0 auto;
}

.cta-title img {
    height: 34px;
    vertical-align: -15%;
}



.cta-container a.btn-outline {

    border-color: #fff;
    color: #fff;
    background: transparent;
}

/* footer css */
footer {
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.05);
    padding: 30px 0px 30px 0px;
    display: flex;
    margin-top: 40px;
}

footer div.widthlimit {
    display: flex;
    flex-grow: 1;
    gap: 32px;
}

footer nav {
    flex-grow: 3;
    padding: 0;
}

footer nav ul.footernavitems {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-grow: 1;
    margin: 0px;
}

footer ul li {
    padding: 0px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: .875rem;
    flex-grow: 1;
}

footer h5 {
    margin-bottom: 10px;
}

footer nav ul li ul {
    flex-direction: column;
}

ul.twocolorderonline {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    flex-grow: 1;
}


.footerlogo {
    flex-grow: 1;
    text-align: right;
}


/******* desktop 1342px wide and below *******/
@media only screen and (max-width: 1342px) {

    header,
    nav,
    .productlist,
    .shop,
    .staticcontent,
    footer
    
    {
        padding-left: 32px;
        padding-right: 32px;
    }

    .leftcol {
        padding: 0px;
    }

    footer {
        margin-top: 0;
    }

    .productnav {

        overflow: scroll;
    }




}


/******* desktop 1042px wide and below *******/

@media only screen and (max-width: 1042px) {



    #headersearch .desktopview {
        display: none;
    }

    #headersearch .tabletview {
        display: block;
    }



}

/******* 962px wide and below show nav callout *******/

@media only screen and (max-width: 962px) {


/*    #calloutmobilenav {
        display: block;
    } */

    .leftcol .productsgrid {
        grid-template-columns: repeat(2, 1fr);
    }

}




/********* tablet **********/
@media only screen and (max-width: 820px) {



    .productsgrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    #bottomctas {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
        row-gap: 0;
    }

    .tabletview {
        display: block;
    }

    .desktopview,
    .mobileview {
        display: none;
    }


    .productnav {
        padding-left: 0px;
        padding-right: 0px;
    }

    .productnav ul {
        padding-left: 32px;
        padding-right: 32px;
    }

    nav.productnav ul {

        justify-content: flex-start;
        gap: 40px;

    }



    header nav ul li a {
        font-size: 1.25rem;
        padding: 0px;
    }

    button,
    a.btn,
    a.btn-outline,
    button.btn-outline,
    .btn-outline
    {
        padding: 10px 20px;
    }

    .careers {
        background-color: var(--dunkin-pink);
    }

    .faq {
        background-color: var(--dunkin-orange);
    }


    footer .widthlimit {
        flex-direction: column;
    }



    .footerlogo {
        text-align: right;
        margin-top: -100px;
    }





}




/******** smaller tablet - mobile *********/
@media only screen and (max-width: 663px) {

    header,
    nav,
    .productlist,
    .twocol-content,
    .shop,
    .staticcontent,
    footer {
        padding-left: 22px;
        padding-right: 22px;
    }

    header {
        padding-top: 22px;
        padding-bottom: 10px;
    }

    header .widthlimit {
        flex-direction: column;
        gap: 10px;
    }

    header nav ul {
        margin: 0px;
        gap: 40px;
    }

    header #headernav {
        padding-left: 0px;
    }


    header #headernav ul li {
        padding: 0px;
    }

    .headerleft {
        display: flex;
        justify-content: space-between;
    }

    .mobilemenubtn,
    .mobilemenu {
        display: block;
    }

    .mobilemenu {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        right: 0;
        background-color: var(--dunkin-orange);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
    }

    .mobilemenu a {
        padding: 10px 10px 10px 40px;
        text-decoration: none;
        font-size: 1.25rem;
        ;
        font-weight: bold;
        color: #fff;
        display: block;
        transition: 0.3s;
        white-space: nowrap;
        overflow-x: hidden;
    }

    .mobilemenu a:hover {
        color: #ffff;
    }

    .mobilemenu .closebtn {
        position: absolute;
        top: 28px;
        right: 22px;
        padding: 0px;
    }

    .mobilemenu .closebtn img {
        width: 24px;
    }


    .productnav ul {
        padding-left: 22px;
        padding-right: 22px;
    }

    main {
        padding-top: 150px;
    }

    main.home {
        padding-top: 130px;
    }



    

    .leftcol {
        padding: 0px;
    }



    h5.product-title {
        font-size: 1.125rem;

    }

    .mobileview {
        display: block;
    }

    #headersearch .tabletview,
    .tabletview {
        display: none;
    }

    .productsgrid {
        gap: 15px;
    }

    .flavour {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .modal-footer-content .qty-number h5 {
        display: none;
    }

    #bottomctas {
        grid-template-columns: repeat(1, 1fr);
    }

    .careers {
        background-color: var(--dunkin-orange);
    }

    .faq {
        background-color: var(--dunkin-pink);
    }


.narrow
{
    margin-top: 40px;
}

    
        #storeslist,
        .sortbyfilter
        {
            flex-direction: column;
            gap: 10px;
            width: 100%;
 
        }
    
     #storeslist h5
        {
            margin-top: 0px;
            text-align:left;
            width: 100%;
            margin-bottom: 0px;
        }
    




    footer ul.footernavitems {
        display: grid !important;
        grid-auto-flow: row;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        column-gap: 16px;
        row-gap: 16px;
    }

    footer li#orderonline {
        grid-column: 1 / 3;
        /* spans columns 1 to 3 */
        grid-row: 1;

    }

    ul.twocolorderonline {
        grid-template-columns: 50% auto;
        column-gap: 16px;
    }

    footer li#aboutus {
        grid-column: 1;
        grid-row: 2;

    }

    footer li#followus {
        grid-column: 2;
        grid-row: 2;
    }

    .footerlogo {
        text-align: center;
        margin-top: 0px;
    }

    #orderdetails {
        display: none;
    }

    #mobile-viewcart-bar {
        display: flex;
        position: fixed;
        left: 0px;
        bottom: 0px;
        background: #fff;
        padding: 22px;
        width: 100%;
        /*  z-index: 2; */
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.15);
        gap: 10px;
    }

    #mobile-viewcart-bar a {
        display: block;
        text-align: center;
        width: 100%;
        line-height: initial;
    }



}

/*************** mobile below 380px *********/
@media only screen and (max-width: 379px) {
#cartModal .sidebysidebtns.fullwidth
{
flex-direction: column;
}
}

/*************** super small below 375px *********/
@media only screen and (max-width: 374px) {
    .productsgrid {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }

    header nav ul {
        margin: 0px;
        gap: 20px;
    }

    header nav ul li a {
        font-size: 1rem;
        padding: 0px;
    }

}